@import 'site.css';


#categories-container {
    float: left;
    width: 15em;
    padding: 0 2em;
}

    #categories {
        list-style: none;
        padding: 0;
    }
        #categories a {
            text-decoration: none;
        }

        #categories li 
        {
            border: 1px #6c6c6c ridge;
            line-height: .5em;
            padding: .8em .3em;
        }
        
#featured-auctions {
    width: 80%;
    min-height: 30em;
    text-align: center;
}
    #featured-auctions h2 
    {
        padding: 1em;
    }

    #featured-auctions .auction-tile 
    {
        width: 13em;
        margin: 0 1em;
        float: left;
        text-align: left;
    }