@{
    ViewBag.Title = "Auctions";
}
<h2>
    Auctions</h2>
<div class="container">
    <header>
<h3>Recent Auctions</h3>
<hr />
</header>
    <ul id="newAuctions">
        <div class="container">
            <ul id="newProducts">
                @foreach (var product in Model.Products)
                {
                    <li>
                        @Html.RenderPartial("_Product", product)
                    </li>
                }
            </ul>
        </div>
    </ul>
</div>
