@model IEnumerable<AuctionViewModel>
<link href="@Url.Content("~/Content/product.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Auctions";
}

<header>
    <h3>Mobile Auctions</h3>
</header>
<ul id="auctions" data-role="listview" data-filter="true" data-theme="c">
    @foreach (var auction in Model)
    {
        <li>
            @Html.Partial("_AuctionTileMobile", auction)
        </li>
    }
</ul>
