<div>
    <h4 class="title">Product Title</h4>
    <img />
    <p class="">Auction closing in <span class="closingTime">00d:5h:45m</span> </p>
        <div>
            Current Bid
            <p>
                $30.14</p>
            <p>
                user1345</p>
        </div>
        <p>
            <a href="StartNewAuction()">Bid Now</a></p>
</div>
