@model HomepageViewModel
<div id="body">
    <section class="welcome-banner">
        <div id="featured-auctions">
            <h2>Featured Auctions</h2>
            @Html.Action("FeaturedAuctions", "Auctions")
        </div>

    </section>

</div>

