@model IEnumerable<Ebuy.Website.Areas.Admin.Models.UserViewModel>
<link href="@Url.Content("~/Content/product.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Users";
}
<h2>Users</h2>
<div class="container">
    <header>
        <h3>
            Users</h3>
        <hr />
    </header>
    <div class="container clear-fix">
        <ul id="users" class="list" data-role="listview">
            @foreach (var user in Model)
            {
                <li class="listitem">
                    @user.DisplayName
                    @*@Html.Partial("_AuctionTile", user)*@
                </li>
            }
        </ul>
    </div>
</div>