@model AuctionViewModel

<div class="title">@Model.Title</div>
<div class="overview">
<p>
<strong>Current Price: </strong>
<span class="current-price">@Model.CurrentPrice</span>
</p>
</div>
<h3>Description</h3>
<div class="description">
@Model.Description
</div>