@model Ebuy.Website.Models.AuctionsViewModel
<link href="@Url.Content("~/Content/product.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Auctions";
}
<h2>
    Auctions</h2>
<div class="container">
    <header>
        <h3>
            Recent Auctions</h3>
        <hr />
    </header>
    <div class="container clear-fix">
        <ul id="auctions" class="list" data-role="listview" data-filter="true">
            @foreach (var auction in Model.Auctions)
            {
                <li class="listitem">
                    @Html.Partial("_Auction", auction); 
                </li>
            }
        </ul>
    </div>
</div>
